Welcome to MySurvey
---
Welcome to MySurvey!

please confirm your account by following the following link: {{ confirm }}

enjoy!
---
<h1>Welcome to MySurvey!</h1>
<p>
  please confirm your account by following the following link: <a href="{{ confirm }}">{{ confirm }}</a>
</p>

<p>enjoy!</p>
