Welcome to MySurvay
---
Welcome to MySurvay!

please confirm your account by following the following link: {{ confirm }}

enjoy!
---
<h1>Welcome to MySurvay!</h1>
<p>
  please confirm your account by following the following link: <a href="{{ confirm }}">{{ confirm }}</a>
</p>

<p>enjoy!</p>
